.login{
    position: fixed;
    height: 100%;
    width: 100%;
    background:#323542;
}
.login-box{width:100%;overflow:hidden;margin:0 auto;padding-top:44px;}
.lg-title{width:100%;height:auto;overflow:hidden;font-size:20px;text-align:center; line-height:100px; color:#fff;}

.login-form{width:100%;height:auto; padding:20px 30px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
.common-div{width:100%;height:40px;overflow:hidden;border-radius:4px;-webkit-border-radius:4px;margin-bottom:20px; position:relative;}
.login-user-name,.login-user-pasw{background-color:rgba(255,255,255,0.1);}
.common-div >.common-icon{float:left;width:20px;height:20px;overflow:hidden;margin:10px;}
.common-div >.common-icon img{width:100%;height:auto;}

.login-btn{background-color:#e21323;color:#fff;font-size:16px;text-align:center;line-height:40px; display:block;}
.forgets{width:100%;height:auto;margin:0 auto; padding:0 30px;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
.forgets >a{color:#fff;opacity:0.2;font-size:14px;}
.forgets >a +a{float:right;}
.login-oth-btn{border:1px solid #9598a5; color:#9598a5;font-size:16px;text-align:center;line-height:40px; display:block;}

.wy-news-list{font-size:15px; color:#232323;}
.wy-news-time{font-size:12px; color:#888;}
.wy-news-info{color:#333;}
.commg{margin:0; font-size:14px;}
.weui-cells.commg:before{display:none;}